.seccion-rasgada {
  position: relative;
  background: var(--negro);
}

.seccion-rasgada::after {
  content: "";
  display: block;
  width: 100%;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width=\"100%25\" height=\"40\" viewBox=\"0 0 1200 40\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\" preserveAspectRatio=\"none\"><path d=\"M0 0 L40 30 Q60 10 80 35 Q120 10 160 30 Q200 5 240 35 Q260 10 300 30 Q340 0 380 35 Q400 10 440 30 Q480 5 520 35 Q540 10 580 30 Q620 0 660 35 Q700 10 740 30 Q780 5 820 35 Q860 10 900 30 Q940 0 980 35 Q1000 10 1040 30 Q1080 5 1120 35 Q1160 10 1200 40 V40 H0 Z\" fill=\"white\"/></svg>') no-repeat bottom center;
  background-size: 100% 40px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
}